name: Updater
  
on:
  schedule:
    - cron: 0 */3 * * *

jobs:
  github:
    name: GitHub
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (stable)
        run: |
          rustup update stable

      - name: Build the updater
        run: cargo build --release

      - name: Run the updater
        run: ./ci-update.sh
        env:
          HIGHFIVE_GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          DEPLOY_KEY: "${{ secrets.DEPLOY_KEY }}"
          RUST_LOG: "info"
          RUST_REPOS_TIMEOUT: 7201  # 2 hours
